body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  color: rgb(0, 0, 0);
  line-height: 1.1;
  text-align: center;
  background-color: rgb(194, 194, 194);
}

h2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 30px;
  color: rgb(0, 0, 0);
  line-height: 1.1;
  text-align: center;
  background-color: rgb(194, 194, 194);
}

.list {
  color: rgb(0, 0, 0);
  display: inline-block;
  text-align: left;
  padding: 140x;
}

.photo {
  border-radius: 50%;
  border: 0px solid rgb(170, 170, 170);
  box-shadow: 0 0 7px rgb(80, 80, 80);
  text-align: center;
}

hr {
  margin: auto;
  padding: 10;
  height: 2px;
  border: none;
  border-top: 3px solid rgb(88, 88, 88);
  box-shadow: 0 10px 10px -10px #8c8b8b inset;
}

.maininfo {
  color: rgb(0, 0, 0);
  text-align: center;
}
