body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  color: rgb(0, 0, 0);
  line-height: 1.1;
  text-align: center;
  background-color: rgba(168, 168, 168, 0.925);
}

.footer_menu {
  list-style: none; 
  margin: 0; 
  padding-left: 0; 
  display: flex;
  justify-content: center;
}

.footer_menu li {
  float: left; 
  margin-right: 30px; 
}

.footer_menu a {
  text-decoration: none;
  display: block;
}

h2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 30px;
  color: rgb(0, 0, 0);
  line-height: 1.1;
  text-align: center;
  margin: 0;
  padding: 0;
  margin-bottom: -15px;
}

h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 35px;
  color: rgb(0, 0, 0);
  line-height: 1.5;
  text-align: center;
  background-color: rgb(168, 168, 168, 0.925);
  margin: 0;
  padding: 0;
}

.list {
  color: rgb(0, 0, 0);
  display: inline-block;
  text-align: left;
}

.photo {
  border-radius: 50%;
  border: 0px solid rgb(170, 170, 170);
  box-shadow: 0 0 7px rgb(80, 80, 80);
  margin: 30px auto;
  overflow: hidden;
  transition: 1s;
  display: block;
}

.photo:hover {
  transform: scale(1.15);
}

hr {
  margin: auto;
  padding: 5;
  height: 2px;
  border: none;
  border-top: 3px solid rgb(88, 88, 88);
  box-shadow: 10px 10px 10px -10px #8c8b8b inset;
  width: 50%;
}

.maininfo {
  color: rgb(0, 0, 0);
  display: inline-block;
  text-align: left;
  list-style-type: none;
}

.code {
  display: inline-block;
  padding: auto;
}

.footer {
  text-align: center;
  font-size: 10px;
  color: rgb(168, 168, 168, 0.925);
  font-style: italic;
}
