html {
  overflow-x:hidden;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  color: rgb(0, 0, 0);
  line-height: 1.1;
  text-align: center;
  background-color: rgba(168, 168, 168, 0.925);
}

.footer_menu {
  padding: 10px;
  list-style: none; 
  margin: 0; 
  padding-left: 0; 
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer_menu li {
  float: left; 
}

.footer_menu a {
  color: #000000;
  text-decoration: none;
  display: block;
  transition: 1s;
}

.footer_menu a:visited {
  color: #000000; 
 }

 .footer_menu a:hover {
  transform: scale(1.20);
 }

h2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 30px;
  color: rgb(0, 0, 0);
  line-height: 1.1;
  text-align: center;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 35px;
  color: rgb(0, 0, 0);
  line-height: 1.5;
  text-align: center;
  background-color: rgb(168, 168, 168, 0.925);
  margin: 0;
  padding: 0;
}

.div {
  margin: 20px;
}

.list {
  color: rgb(0, 0, 0);
  display: inline-block;
  text-align: left;
  line-height: 1.5;
}

li img {
  vertical-align: middle;
}

.photo {
  border-radius: 50%;
  border: 0px solid rgb(170, 170, 170);
  box-shadow: 0 0 7px rgb(80, 80, 80);
  margin: 30px auto;
  overflow: hidden;
  transition: 1s;
  display: block;
}

.photo:hover {
  transform: scale(1.15);
}

hr {
  margin: auto;
  padding: 5px;
  height: 2px;
  border: none;
  border-top: 3px solid rgb(88, 88, 88);
  box-shadow: 10px 10px 10px -10px #8c8b8b inset;
  width: 50%;
}

.maininfo {
  color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  list-style-type: none;
  line-height: 1.5;
  align-items: center;
}


.maininfo a {
  text-decoration: none;
}


.footer {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  text-align: center;
  padding: 0 5px;
  font-size: 25px;
  color: rgba(0, 0, 0, 0.925);
  font-style: italic;
  align-items: center;
  overflow: hidden;
  transition: 1s;
}

.footani:hover {
  transform: scale(1.20);
}

.footani {
  width: calc(1/3*100% - 10px);
  margin: 5px;
}

@media (max-width: 520px) {
  
  .footer_menu{
    flex-direction: column;
  }

  #menu li {
    display: block;
    text-align: center;
    border-bottom: 1px solid;
    margin-right: 0;
 }
}